/* ============================================================
   fonts.css  —  AmerDev UI Library
   Typography: Tajawal (Arabic) + Playfair Display (Latin)
   ============================================================ */

/* ── Tajawal ─────────────────────────────────────────────────── */

@font-face {
    font-family: 'Tajawal';
    src: url('/src/assets/fonts/Tajawal/Tajawal-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tajawal';
    src: url('/src/assets/fonts/Tajawal/Tajawal-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tajawal';
    src: url('/src/assets//fonts/Tajawal/Tajawal-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tajawal';
    src: url('/src/assets/fonts/Tajawal/Tajawal-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tajawal';
    src: url('/src/assets/fonts/Tajawal/Tajawal-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/* ── Playfair Display ────────────────────────────────────────── */

@font-face {
    font-family: 'Playfair Display';
    src: url('/src/assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}


/* DM Sans */

@font-face {
    font-family: 'DM Sans';
    src: url('/src/assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}